.the-boss.wrapper
	.the-boss__header
		img(src="./images/nft-left.png", alt="").the-boss__img-left
		img(src="./images/hold-wallet-1.png", alt="").the-boss__img-left.the-boss__img-left_mobi
		img(src="./images/nft-hold.png", alt="").the-boss__img-hold
		img(src="./images/nft-right.png", alt="").the-boss__img-right
		img(src="./images/hold-wallet-2.png", alt="").the-boss__img-right.the-boss__img-right_mobi
	.the-boss__footer
		h2 You are the boss<br /> of your assets.
		.the-boss__lock
			img(src="./images/icon-lock.svg", alt="")
			p Hito is the guardian.
		a(href="/").the-boss__link Pre-order hito