section.binance-features__wrapper
	.background
	h2 Weekly score contest!
	p.binance-features__p Get a score for using your wallet.<br /> Every week top 100 users by score growth get from 1 to 25$!
	
	.weekly-score
		.weekly-score__top
			img(src='/assets/weekly-score-near/1.svg').weekly-score__bottom_1
			img(src='/assets/weekly-score-near/2.svg').weekly-score__bottom_2
			img(src='/assets/weekly-score-near/3.svg').weekly-score__bottom_3
			img(src='/assets/weekly-score-near/4.svg').weekly-score__bottom_4
		.weekly-score__bottom
			img(src='/assets/weekly-score-near/5.svg').weekly-score__bottom_5
			img(src='/assets/weekly-score-near/6.svg').weekly-score__bottom_6
			img(src='/assets/weekly-score-near/7.svg').weekly-score__bottom_7