main.main
  .main-left
  .main-center
    .main-header
      h1 
        | Your familiar
        br
        | finance app
        br
        | built on WEB3
      
    .main-appclip
      img(src='/assets/appqr.svg')
      img(src='/assets/icons/arrow.left.svg')
      p Scan the code to open iOS app and get 0.5$
    .main-near
      img(src='/assets/icons/near-simple.svg')
      p Powered by NEAR Protocol
    .main-stub
    .main-bottom
    .main-scroll
      p Scroll down to learn more
  .main-right

main.main-mobile
  h1 Your familiar finance app built on WEB3
  .main-mobile-near
    img(src='/assets/icons/near-simple.light.svg')
    p Powered by NEAR Protocol

  a.here-button.here-button-pink.light(href=common.appStore)
    | Download HERE
  
  img(src="./section-main/assets/arrow.svg", alt="arrow")