.mpc
	h2 Usual MPC vs HOT MPC
	p.inter-font HOT is an open and decentralized protocol — no one can control your wallet access
	.mpc-param
		.mpc-param__item.mpc-param__item_usual
			h3 Usual MPC
			picture
				source(srcset="./images/mpc-usual.png 1x, ./images/mpc-usual-2x.png 2x")
				img(src="./images/mpc-usual-2x.png", alt="Usual MPC")
			ul.mpc-param__list-usual
				li Controlled by one company
				li Closed system
				li Account is not transfarable
		.mpc-param__item.mpc-param__item_hot
			h3 HOT MPC
			picture
				source(srcset="./images/mpc-hot.png 1x, ./images/mpc-hot-2x.png 2x")
				img(src="./images/mpc-hot-2x.png", alt="Hot MPC")
			ul.mpc-param__list-hot
				li Decentralized
				li Open SDK and API
				li Transferable account
				li.mpc-param__list_unic Independent economy around HOT
