section.binance-features__wrapper
	h2 Your Binance account
	.binance-here
		img(src="../assets/icons/icon-binance-black.svg", alt="Binance").binance-here__binance
		img(src="../assets/icons/icon-x.svg", alt="Binance").binance-here__x
		img(src="../assets/logo-black.svg", alt="Binance").binance-here__here
		.binance-here__switch
	.binance-features
		.binance-features__item
			.binance-features__item-front
				.binance-features__item-top
					.binance-features__item-img
						img(src="../assets/Graphics/bin-ac-9per.svg", alt="9%")
					p 2.25%
				.binance-features__item-bottom
					p Flexible NEAR staking APY

			.binance-features__item-und
				p Using on-chain staking
		
		.binance-features__item
			.binance-features__item-front
				.binance-features__item-top
					.binance-features__item-img
						img(src="../assets/Graphics/bin-ac-3d.svg", alt="3D")
					p 120 days
				.binance-features__item-bottom
					p Locking<br /> period

			.binance-features__item-und
				p Using on-chain liquid staking
		
		.binance-features__item
			.binance-features__item-front
				.binance-features__item-top
					.binance-features__item-img
						img(src="../assets/Graphics/bin-ac-8per.svg", alt="8%")
					p 4-6%
				.binance-features__item-bottom
					p Stablecoin<br /> APY

			.binance-features__item-und
				p Using on-chain lending
	.binance-features-2
		.binance-features-2__item
			h3 Application Support
			.binance-features-2__logos
				img(src="../assets/Graphics/logo/logo-1.png", alt="alt")
				img(src="../assets/Graphics/logo/logo-2.png", alt="alt")
				img(src="../assets/Graphics/logo/logo-3.png", alt="alt")
				img(src="../assets/Graphics/logo/logo-4.png", alt="alt")
				img(src="../assets/Graphics/logo/logo-5.png", alt="alt")
				img(src="../assets/Graphics/logo/logo-6.png", alt="alt")
				img(src="../assets/Graphics/logo/logo-7.png", alt="alt")
			p.binance-features-2__und-logo DeFi from<br /> Binance whitelist
			p.binance-features-2__hidden DeFi from Binance whitelist
		
		.binance-features-2__item
			h3 Seed phrase owner
			.binance-features-2__text Access via seed phrase.<br /> Stored locally
			p.binance-features-2__und-logo Binance team
			p.binance-features-2__hidden Binance team