doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title HERE NFT Collection
		meta(name="description", content="HERE Early user NFTs launch and a competition with 1000 NFTs as a reward")
		link(href="style.sass", rel="stylesheet")
		link(href="http://herewallet.app/nft", rel="canonical")
		meta(property="og:url", content="http://herewallet.app/nft")
		meta(property="og:title", content="HERE NFT Collection")
		meta(property="og:description", content="HERE Early user NFTs launch and a competition with 1000 NFTs as a reward")
		meta(name="format-detection", content="telephone=no")
		link(href="https://fonts.googleapis.com", rel="preconnect")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap", rel="stylesheet")
	body
		include ../landing/header/index.pug
		+header("/")
		
		.main-nft.center-block
			.main-nft-left
				h1 Here NFT launched
				p Get NFT to earn +1% APY in HERE Wallet
				a(href='https://www.tradeport.xyz/near/collection/nft.herewallet.near?tab=marketview').btn.btn_download.btn_maxheight Explore NFTs
			.main-nft-right
				img(src='images/1-4-14.png' alt='NFT').img-launched
				.img-launched_mobile
					img(src='images/1_3.png' alt='NFT')
					img(src='images/14_1.png' alt='NFT')
					img(src='images/4_1.png' alt='NFT')

		.benefits
			.center-block
				h2 Benefits of HERE NFT.
				.benefits-features
					.benefits-features__column
						h4 Governance
						p Access to development and airdrops. Opportunity to participate in HERE DAO in the future. The more NFTs you get, the more governance power you will have.

					.benefits-features__column
						h4 NFT flex
						p A special role in HERE discord. Access to developer chat. NFT Avatar which will be displayed to other users.

					.benefits-features__column
						h4 Early access
						p Access to B-versions with new features. Get rewards for feedback

		.types
			.center-block
				.types__prev
					h2 There are 5 types of HERE NFT
					p All has the same privileges, but some of them are unique

				.types-items
					.types-item.types-item__1
						.types-item__content
							h3 COMMON
							p The most common NFT
							ul
								li 4 backgrounds
								li 14 clothes
								li 6 heads
								li 6 mouths
						.types-item__img
							img(src='images/Frame_169_3.png')

					.types-item.types-item__2
						.types-item__content
							h3.color_blue UNCOMMON
							p Mask covers mouth, so the number of these NFTs is smaller than others
						.types-item__img
							img(src='images/Frame_175_1.png')

					.types-item.types-item__3
						.types-item__content
							h3.color_violet RARE
							p NFT for beta-testers who actively gave us feedback. Join our Telegram or Discord, leave feedback and win an NFT. We will continue to give them away.
						.types-item__img
							img(src='images/Frame_176.png')

					.types-item.types-item__4
						.types-item__content
							h3.color_pink LEGENDARY
							p Only 3 NFTs. 2 of them has been distributed. Black and white one will be distributed soon. Stay tuned!
						.types-item__img
							img(src='images/Frame_177.png')

					.types-item.types-item__5
						.types-item__content
							h3.color_red ANCIENT
							p NFT for team members. Who knows, maybe in future you will have a chance to buy one of these.
						.types-item__img
							img(src='images/Frame_174_1.png')
							
		.footer
			.center-block
				.footer-logo
					img(src='images/here_logo_black.png', alt='Footer Logo')
								
				.footer-email
					a(href='mailto:support@herewallet.app') support@herewallet.app
				.footer-social
					ul
						li
							a(href='https://twitter.com/here_wallet', target='_blank')
								img(src='images/footer-twitter.png')
						li
							a(href='https://discord.gg/8Q3gw3gsD2', target='_blank')
								img(src='images/footer-discord.png')
						li
							a(href='https://t.me/herewallet', target='_blank')
								img(src='images/footer-telegram.png')
						li
							a(href='https://awesomenear.com/here-wallet', target='_blank')
								img(src='images/footer-awesom.png')
				.footer-copy
					p Copyright 2022 HERE Wallet, Inc. 8 The Green Suite #4655 Dover, DE 19901.
					p All rights reserved. <a href="https://herewallet.app/privacypolicy/" target="_blank">Privacy policy and Terms of Service</a>

		include ../landing/waitlist-modal/index.pug
		script(type="module", src="index.js")