.main 
    h1 
        | Give your loved ones 
        br
        | a Christmas miracle

    //- .statistics
    //-     .statistics-item 
    //-         p.statistics-item-header TOTAL STT Sent
    //-         p.statistics-item-number 234,546

    //-     .statistics-item 
    //-         p.statistics-item-header TOTAL Holders
    //-         p.statistics-item-number 1546

    img.santa-logo(src="/assets/santa/santa.svg")

    .info-list 
        .info-list-item 
            .info-list-item-number 1
            p Send Santa Token through wallets in NEAR or by phone number to anyone.

        .info-list-item 
            .info-list-item-number 2
            p In the new year, tokens will turn into USDC, NEAR, and NFT by decentralized randomization.

        .info-list-item 
            .info-list-item-number 3
            p Tokens increase when you gift them, 50 STT are generated for each gift.

    .gift-now 
        h2 100 STT ~ 1$

        .gift-now-form 
            h3 Gift now!
            input.amount-input.here-input(placeholder="Amount (SANTA)" min="0" max="100" type="number")
            input.phone-input.here-input(placeholder="Phone number")
            button Open transaction to sign →

    .sponsors
        h2 Sponsors
        .sponsors-row
            img(src="/assets/santa/here.svg")
            img(src="/assets/santa/paras.svg")
            img(src="/assets/santa/tonic.svg")
            img(src="/assets/santa/near.svg")

