.main 
    h1 
        | Give your loved ones 
        br
        | a Christmas miracle

    a.button(href="/gifts") Pick up a gift

    .statistics
        .statistics-item
            p.statistics-item-header TOTAL Tokens
            p.statistics-item-number.hide#total-sent 1000

        .statistics-item 
            p.statistics-item-header TOTAL Earn
            p.statistics-item-number.hide#total-earn 1000

    img.santa-logo(src="/assets/santa/santa.svg")

    .info-list 
        .info-list-item 
            .info-list-item-number 1
            p Send Santa Token through wallets in NEAR or by phone number to anyone. Gift more than 50 STT to a new user to get cashback

        .info-list-item 
            .info-list-item-number 2
            p In the new year, tokens will turn into USDC, NEAR, and NFT by decentralized randomization

        .info-list-item 
            .info-list-item-number 3
            p Before the results are tallied, the HERE team reserves the right to block an account if fraud or tampering with SANTA is suspected

    .gift-now 
        h2 100 STT ~ 1$

        .gift-now-form 
            h3 Gift now!
            p Gift Santa Tokens here if you have them
            .input-wrap.none
                input.amount-input.here-input(placeholder="Amount (SANTA)" min="0" max="100" type="number")
                span.max
            
            .input-wrap.none
                input.phone-input.here-input(placeholder="Phone number")
            
            button Login to wallet →

            a(href="https://medium.com/@nearhere/santa-tokens-proof-of-good-4de55eece1d0").gift-now-form-error.none
                | You don’t have STT on your account.
                br
                | Click here to participate in a contest

    .sponsors
        h2 Sponsors
        .sponsors-row
            img(src="/assets/santa/here.svg")
            img(src="/assets/santa/paras.svg")
            img(src="/assets/santa/tonic.svg")
            img(src="/assets/santa/near.svg")

