.nfc-nft__bg
	.nfc-nft.wrapper
		.nfc-nft__left
			.nfc-nft__title-main
				img(src="./images/wireless-bg.svg", alt="").nfc-nft__icon-wireless
				h2
					| NFC for 
					span your 
					| NFT
			p
				| When it’s needed, Hito connects to your phone 
				strong wirelessly via NFC 
				| — the same way Apple Pay or Google Pay connects to a payment terminal. 
			p
				| No USB means 
				strong there’s no way to hack the wallet.
		.nfc-nft__right
			.nfc-nft__open-source
				.nfc-nft__title
					img(src="./images/icon-eye-light.svg", alt="")
					h3 Open-source
				p
					| Hito’s firmware is open-source. This means it’s built on 
					strong a secure codebase constantly reviewed by the community.
			.nfc-nft__in-usa
				.nfc-nft__title
					img(src="./images/icon-usa.svg", alt="")
					h3 Made in USA
				p Every Hito device is made in Hito lab in San Francisco, California.