.secure
	h5 Created to be
	h2 Secure

	.secure__independent
		h3 Independent nodes
		p.inter-font All nodes are independent and hosted by trusted validators. EverStake, NEAR Protocol, Aurora, HOT DAO and other.

		picture
			source(srcset="./images/mpc-hot.png 1x, ./images/mpc-hot-2x.png 2x")
			img(src="./images/mpc-hot-2x.png", alt="Hot MPC").secure__img
		
		ul.secure__list-logo
			li.secure__list-logo_google
				img(src="./images/secure-google.png", alt="")
			li.secure__list-logo_near
				img(src="./images/secure-near.png", alt="")
			li.secure__list-logo_everstake
				img(src="./images/secure-everstake.png", alt="")
			li.secure__list-logo_aurora
				img(src="./images/secure-aurora.png", alt="")
		
		.secure__footer
			.secure__footer-left
				img(src="./images/secure-2.png", alt="")
			.secure__footer-right
				h3 Privacy
				ul
					li Validators do not know the full address of the wallet they are signing
					li Validators do not know the full transaction they are signing
					li All messages between users and nodes are end-to-end encrypted
				p User restores his address and signature <strong>on the device</strong>.