#waitlist-join.modal-wrap
    .modal-body
        button.modal-close 
            img(src="/assets/icons/close.svg")
        
        h2 Binance waiting list
        p Leave your near username to get early access to Binance connect
        input.here-input-nick(placeholder="Near username")
        button.here-button Submit

#success-modal.modal-wrap
    .modal-body
        button.modal-close 
            img(src="/assets/icons/close.svg")

        img(src="/assets/Graphics/success.png", height="148px")
        p 
            | We will notify you once the feature will be unlocked.
