doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pager Freemint
		meta(name="description", content="Send money to friends via phone number and get rewards")
		link(href="style.sass", rel="stylesheet")
		link(href="http://herewallet.app/pager-freemint", rel="canonical")
		meta(property="og:url", content="http://herewallet.app/pager-freemint")
		meta(property="og:title", content="Pager Freemint")
		meta(property="og:description", content="Send money to friends via phone number and get rewards")
		meta(name="format-detection", content="telephone=no")
		link(href="https://fonts.googleapis.com", rel="preconnect")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap", rel="stylesheet")
		link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
		
		link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		
		// Google tag (gtag.js)
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-J76SQ67RJB');

	body
		.header(style="padding-top:32px")
			a(href="https://herewallet.app").logo
				img(src="images/logo-here.svg", alt="Aurora is HERE now")
			.follow-us
				.follow-us__title Follow us:
				.follow-us__ul
					a(href="https://twitter.com/here_wallet", target="_blank").follow-us__li
						img(src="./images/twit.svg")
					a(href="https://t.me/herewallet", target="_blank").follow-us__li
						img(src="./images/teleg.svg")
					a(href="https://discord.gg/8Q3gw3gsD2", target="_blank").follow-us__li
						img(src="./images/discord.svg")
					a(href="https://www.instagram.com/here_wallet/", target="_blank").follow-us__li
						img(src="./images/insta.svg")

			.btn-connect-wallet Connect wallet

		.support-buttons
			a(href="https://discord.gg/8Q3gw3gsD2")
				img(src="../assets/Socials/Discord.svg")
			a(href="https://t.me/herewalletchat")
				img(src="../assets/Socials/Telegram.svg")

		.screen-title
			.screen-title__left
				h1.title-h1 Pager Freemint
				.title-prev Deadline: 31 November
				a(href="https://t.me/herewalletchat", target="_blank").title-link Freemint tutorial
				.backed-by
					.backed-by__title Backed by
					img(src="./images/big-brains.png").backed-by__brain
					img(src="./images/near-foundation.svg").backed-by__near
			.screen-title__right
				img.screen-title__img(src='./images/pager-comics.png' alt='Pager Freemint')

		.screen-stock
			.screen-stock__wrapper
				.screen-stock_title 10000 pagers in stock
				.stock-p Mint basic pager, upgrade it and burn to receive USDT rewards
				.screen-stock__slider
					.screen-stock__slider-item
						.slider-item__slide-tables
							.slider-item__left.active#item-basic
								h3.h3-basic Basic
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Current Price
										.tooltip-container
											span.tooltip-trigger
											.tooltip The price of NFT can coming down as new NFTs are released
										.slider-item__table-list_right.price ≈ 2 USDT
									.slider-item__table-list
										.slider-item__table-list_left Weight of points
										.slider-item__table-list_right 1
									.slider-item__table-list
										.slider-item__table-list_left Minted
										.slider-item__table-list_right.count 1234/10000

							.slider-item__left#item-pro
								h3.h3-pro PRO
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Current Price
										.tooltip-container
											span.tooltip-trigger
											.tooltip The price of NFT can coming down as new NFTs are released
										.slider-item__table-list_right.price ≈ 20 USDT
									.slider-item__table-list
										.slider-item__table-list_left Weight of points
										.slider-item__table-list_right 3
									.slider-item__table-list
										.slider-item__table-list_left Upgraded
										.slider-item__table-list_right.count 0

							.slider-item__left#item-ultra
								h3.h3-ultra ULTRA
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Current Price
										.tooltip-container
											span.tooltip-trigger
											.tooltip The price of NFT can coming down as new NFTs are released
										.slider-item__table-list_right.price ≈ 40 USDT
									.slider-item__table-list
										.slider-item__table-list_left Weight of points
										.slider-item__table-list_right 6
									.slider-item__table-list
										.slider-item__table-list_left Upgraded
										.slider-item__table-list_right.count 0
						.slider-item__slide-images
							.slider-item__right.active
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-1.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-1.jpg' alt='Basic')

							.slider-item__right
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-2.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-2.jpg' alt='Basic')

							.slider-item__right
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-3.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-3.jpg' alt='Basic')
					
					.slider-item__pagination
						.slider-pagination__item.slider-pagination__prev
						.slider-pagination__item.slider-pagination__next

		.screen-your.user
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR
					span.price

				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				
				.screen-your__prev Mission:
					span Follow HERE on Telegram or Twitter

				ul.screen-your__ul
					li
						span Tips: 
					li 
						div 1. Connect Telegram or Twitter account
						div(style="display: flex; gap: 8px; margin: 8px 0 16px;")
							a(href="").connect-social.twitter.connected Twitter
							a(href="").connect-social.telegram Telegram

					li 2. Follow @here_wallet

				.screen-your__send
					button.screen-your__btn.connect-wallet-from-item Connect wallet
					p To find out the details, connect your account!
					span.screen-your__error

		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR
					span.price

				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				
				.screen-your__prev Mission:
					span Follow HERE on Telegram or Twitter

				ul.screen-your__ul
					li
						span Tips: 
					li 
						div 1. Connect Telegram or Twitter account
						div(style="display: flex; gap: 8px; margin: 8px 0 16px;")
							a(href="").connect-social.twitter Twitter
							a(href="").connect-social.telegram Telegram

					li 2. Follow @here_wallet

				.screen-your__send
					button.screen-your__btn Mint PAGER
					p You haven’t claimed the pager yet. You can do it now!
					span.screen-your__error

		.screen-your
			.screen-your__left.user
				.screen-your__h4 Your
				.screen-your__h2 PageR
					span.price

				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				.screen-your__prev Mission to upgrade:
					span Send $3+ by link to your friend

				ul.screen-your__ul
					li
						span Tips: 
					li 1. Click “Pay&Transfer”
					li 2. Click “Use Phone number”
					li 3. Send money to a friend which haven't gotten the transfer by number yet
					li 
						span 4. Wait while he/she claims it from new device.

				.screen-your__send
					button.screen-your__btn Upgrade to PAGER Pro
					button.screen-your__btn_transp Sell
						span Available on Dec, 10
					span.screen-your__error

		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR PRO
					span.price

				.screen-your__right
					img.screen-your__img(src='./images/mint-2.jpg' alt='PageR PRO')
				.screen-your__prev Mission to upgrade:
					span Send $5+ by phone number
				ul.screen-your__ul
					li
						span Tips: 
					li 1. Click “Pay&Transfer”
					li 2. Click “Use Phone number”
					li 3. Send money to a friend which haven't gotten the transfer by number yet
					li 
						span 4. Wait while he/she claims it from new device.

				.screen-your__send
					button.screen-your__btn Upgrade to PAGER Ultra
					button.screen-your__btn_transp Sell
						span Available on Dec, 10
					span.screen-your__error
		
		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR ULTRA
					span.price 

				.screen-your__right
					img.screen-your__img(src='./images/mint-3.jpg' alt='PageR ULTRA')
				.screen-your__prev Maximum level reached!
				ul.screen-your__ul
					li
						span What to do next? 
					li 1. You can earn +50 score for every new user invited via phone number
					li 2. You can sell this pager for 5-9 USDT on Tradeport

				.screen-your__send
					button.screen-your__btn_transp Sell
						span Available on Dec, 10
		
		.screen-howitwork
			h2.title-black How it works
			.screen-howitwork__wrapper
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-1.png' alt='send USDT by phone number')
					p in HERE Wallet app you can send USDT by phone number to people who don't have a wallet yet.
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-2.png' alt='temporary secure storage')
					p then the USDT will go to a smart contract - a temporary secure storage.
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-3.png' alt='download a wallet')
					p yor friend will receive an sms with a link to download a wallet. money will be inside it.

		.screen-earnmore
			h2.title-white earn more!
			.screen-earnmore__wrapper
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-1.png' alt='Weekly Score')
						.screen-earnmore__usdt 40
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='40 USDT')
					h3 Weekly<br /> Score
					p Every week top 100 users by score grow get 0.5-40 USDT
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-2.png' alt='cashback for transfer')
						.screen-earnmore__usdt 0.2
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='1.5 USDT')
					h3 cashback<br /> for transfer
					p You receive 0.2 USDT cashback for each transfer by phone number
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-3.png' alt='Refferal program')
						.screen-earnmore__usdt 1
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='2 USDT')
					h3 Refferal<br /> program
					p You receive 1 USDT for each invited friend who connected binance account
		
		.section-faq#faq
			.section-faq__title In case you <span>missed anything</span>
			.section-faq__item
				.section-faq__ask What is score?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
			.section-faq__item
				.section-faq__ask What is the biggest prize?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
			.section-faq__item
				.section-faq__ask When I get score?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
			.section-faq__item
				.section-faq__ask How to get more score?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
		
		.price-widget 
			div
				p Point price: 
					span.price ___
			div
				p Bounty bank: 
					span $4000

		script(type="module", src="index.js")