doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Aurora is HERE now
		meta(name="description", content="Get score for using each of AURORA apps below")
		link(href="style.sass", rel="stylesheet")
		link(href="http://herewallet.app/binance-waitlist", rel="canonical")
		meta(property="og:url", content="http://herewallet.app/binance-waitlist")
		meta(property="og:title", content="Pager Freemint")
		meta(property="og:description", content="Get score for using each of AURORA apps below")
		meta(name="format-detection", content="telephone=no")
		link(href="https://fonts.googleapis.com", rel="preconnect")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap", rel="stylesheet")
		link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
		
		link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		
		// Google tag (gtag.js)
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-J76SQ67RJB');
	body
		.header
			a(href="https://medium.com/@nearhere/here-binance-connect-and-earn-4-aab88341fe1e",target="_blank").logo
				img(src="images/logo-here.svg", alt="Aurora is HERE now")
			div.btn-connect-wallet Connect wallet
		.screen-title
			.screen-title__left
				h1.title-h1 Pager Freemint
				.title-prev October, 17-31
			.screen-title__right
				img.screen-title__img(src='./images/pager-comics.png' alt='Pager Freemint')
		.screen-stock
			.screen-stock__wrapper
				.screen-stock_title 9999 pagers in stock
				.stock-p Mint basic pager and upgrade it to receive better rewards
				.screen-stock__slider
					.screen-stock__slider-item
						.slider-item__slide-tables
							.slider-item__left.active
								h3.h3-basic Basic
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Prize
										.slider-item__table-list_right 0.1-0.2 USDT
									.slider-item__table-list
										.slider-item__table-list_left Amount
										.slider-item__table-list_right 10000
									.slider-item__table-list
										.slider-item__table-list_left Score
										.slider-item__table-list_right 5/Transfer

							.slider-item__left
								h3.h3-pro PRO
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Prize
										.slider-item__table-list_right 2-3 USDT
									.slider-item__table-list
										.slider-item__table-list_left Amount
										.slider-item__table-list_right 2500
									.slider-item__table-list
										.slider-item__table-list_left Score
										.slider-item__table-list_right 15/Transfer

							.slider-item__left
								h3.h3-ultra ULTRA
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Prize
										.slider-item__table-list_right 5-20 USDT
									.slider-item__table-list
										.slider-item__table-list_left Amount
										.slider-item__table-list_right 500
									.slider-item__table-list
										.slider-item__table-list_left Score
										.slider-item__table-list_right 35/Transfer
						.slider-item__slide-images
							.slider-item__right.active
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-1.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-1.jpg' alt='Basic')

							.slider-item__right
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-2.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-2.jpg' alt='Basic')

							.slider-item__right
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-3.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-3.jpg' alt='Basic')
					
					
					.slider-item__pagination
						.slider-pagination__item.slider-pagination__prev
						.slider-pagination__item.slider-pagination__next

		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR
					span (0.1-0.2 USDT)
				.screen-your__right
					img.screen-your__img.screen-your__img_opacity(src='./images/mint-1.jpg' alt='Basic')
					p Сomplete the mission to mint
				.screen-your__prev Mission:
					span Link phone number to mint
				ul.screen-your__ul
					li
						span Tips: 
					li Open Settings
					li Click “Phone number”
					li Click “Link phone”
				.screen-your__send
					button.screen-your__btn Mint PAGER
					p You haven’t claimed the pager yet. You can do it now!
		
		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR
					span (0.1-0.2 USDT)
				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				.screen-your__prev Upgrade to Pager Pro:
					span Invite 3 people with phone number transfer
				ul.screen-your__ul
					li
						span Tips: 
					li 1. Click “Pay&Transfer”
					li 2. Click “Use Phone number”
					li 3. Send money to a friend. Make sure they don’t have HERE account
				.screen-your__send
					button.screen-your__btn Upgrade to PAGER Pro
					button.screen-your__btn_transp Sell
						span Available on Oct, 20
		.screen-your.user
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR PRO
					span (3-5 USDT)
				.screen-your__right
					img.screen-your__img(src='./images/mint-2.jpg' alt='PageR PRO')
				.screen-your__prev Upgrade to Pager Ultra:
					span Invite 2 people with phone number transfer
				ul.screen-your__ul
					li
						span Tips: 
					li 1. Click “Pay&Transfer”
					li 2. Click “Use Phone number”
					li 3. Send money to a friend. Make sure they don’t have HERE account
				.screen-your__send
					button.screen-your__btn Upgrade to PAGER Ultra
					button.screen-your__btn_transp Sell
						span Available on Oct, 20
		
		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 PageR ULTRA
					span (5-9 USDT)
				.screen-your__right
					img.screen-your__img(src='./images/mint-3.jpg' alt='PageR ULTRA')
				.screen-your__prev Maximum level reached!
				ul.screen-your__ul
					li
						span What to do next? 
					li You can earn +50 score for every new user invited via phone number
					li You can sell this pager for 5-9 USDT on Tradeport

				.screen-your__send
					button.screen-your__btn_transp Sell
		
		.screen-howitwork
			h2.title-black How it works
			.screen-howitwork__wrapper
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-1.png' alt='send USDT by phone number')
					p in HERE Wallet app you can send USDT by phone number to people who don't have a wallet yet.
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-2.png' alt='temporary secure storage')
					p then the USDT will go to a smart contract - a temporary secure storage.
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-3.png' alt='download a wallet')
					p yor friend will receive an sms with a link to download a wallet. money will be inside it.

		.screen-earnmore
			h2.title-white earn more!
			.screen-earnmore__wrapper
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-1.png' alt='Weekly Score')
						.screen-earnmore__usdt 40
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='40 USDT')
					h3 Weekly Score
					p Every week top 100 users by score grow get 0.5-40 USDT
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-2.png' alt='cashback for transfer')
						.screen-earnmore__usdt 1.5
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='1.5 USDT')
					h3 cashback for transfer
					p You receive 1.5 USDT cashback for each transfer by phone number
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-3.png' alt='Refferal program')
						.screen-earnmore__usdt 2
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='2 USDT')
					h3 Refferal program
					p You receive 2 USDT for each invited friend who connected binance account
		
		.section-faq#faq
			.section-faq__title In case you <span>missed anything</span>
			.section-faq__item
				.section-faq__ask What is score?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
			.section-faq__item
				.section-faq__ask What is the biggest prize?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
			.section-faq__item
				.section-faq__ask When I get score?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
			.section-faq__item
				.section-faq__ask How to get more score?
				.section-faq__answer Decentralized auction protocol that empowers users to create and participate in customizable on-chain auctions across multiple blockchain ecosystems
		script(type="module", src="index.js")