.buy-bg
	.buy.wrapper
		.buy-left
			img.dragon-face.dragon-face_1(src="./images/buy-1.png",alt="")
			img.dragon-face.dragon-face_2(src="./images/buy-2.png",alt="")
			img.dragon-face.dragon-face_3(src="./images/buy-3.png",alt="")
			.buy-5k
				span 5k
		.buy-right
			h4 Limited edition nft Drop
			h2 Buy Hito and find<br /> an NFT inside
			.hot-cold
				.hot-cold__item.hot-cold_1
					span.hot-cold__title
						| Ho
						span t
					span.hot-cold__text Game
				img(src="./images/plus.svg").hot-cold__plus
				.hot-cold__item.hot-cold_2
					span.hot-cold__title
						span Co
						| ld
					span.hot-cold__text Wallet
				img(src="./images/equally.svg").hot-cold__equally
				.hot-cold__item.hot-cold_3
					span.hot-cold__title Hold
					span.hot-cold__text Wallet
			.buy-btns
				a(href="/").btn.btn_gradient Pre-order hito
				a(href="/").link.link_decoration Learn more about HOT