.modal-wrap
    .modal-body
        button.modal-close
            img(src="../assets/mint/modal-close.svg")
        .stack
          .modal-text
            h2.title Connect HERE Wallet
            p.text 
              | Scan the code with #[br]
              | #[strong HERE Wallet mobile app] to mint.
            p.text #[strong Don’t have a wallet?] It takes less than 3 minutes to sign up. Download below!
            .airdrop
              img(src="../assets/mint/modal-warning.svg")
              p Airdrop 0.01 NEAR to pay for gas
          .modal-qr
            .modal-qr-wrap
        .modal-footer
          img.img-near(src="../assets/mint/modal-near.svg").hands

          .wrap(style="display: flex; gap: 8px; margin-bottom: 32px")
            a(href="https://download.herewallet.app?ios")
              img(src="../assets/mint/appstore.svg")
            a(href="https://download.herewallet.app?android")
              img(src="../assets/mint/googleplay.svg")

          img(src="../assets/mint/modal-rock.svg").hands