.partners
	ul.partners-logos
		li.partners-logos_everstake
			img(src="./images/logo-everstake.png", alt="")
		li.partners-logos_near
			img(src="./images/logo-near.png", alt="")
		li.partners-logos_tinch
			img(src="./images/logo-tinch.png", alt="")
		li.partners-logos_base
			img(src="./images/logo-base.png", alt="")
		li.partners-logos_aurora
			img(src="./images/logo-aurora.png", alt="")
		li.partners-logos_hapi
			img(src="./images/logo-hapi.svg", alt="")
	.partners-date
		.partners-date__item
			h3 6M+
			p.inter-font Users
		.partners-date__item
			h3 16M+
			p.inter-font Transactions daily
		.partners-date__item
			h3 $320M
			p.inter-font Daily volume