doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pager Freemint
		meta(name="description", content="Send money to friends via phone number and get rewards")
		link(href="style.sass", rel="stylesheet")
		link(href="http://herewallet.app/pager-freemint", rel="canonical")
		meta(property="og:url", content="http://herewallet.app/pager-freemint")
		meta(property="og:title", content="PAGER NFT Freemint")
		meta(property="og:description", content="Send money to friends via phone number and get rewards")
		meta(name="format-detection", content="telephone=no")
		link(href="https://fonts.googleapis.com", rel="preconnect")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap", rel="stylesheet")
		link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
		
		link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		
		// Google tag (gtag.js)
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-J76SQ67RJB');

	body
		.header(style="padding-top:32px")
			a(href="https://near.herewallet.app").logo
				img(src="images/logo-here.svg", alt="HERE")
			.follow-us
				.follow-us__title Follow us:
				.follow-us__ul
					a(href="https://twitter.com/here_wallet", target="_blank").follow-us__li
						img(src="./images/twit.svg")
					a(href="https://t.me/herewallet", target="_blank").follow-us__li
						img(src="./images/teleg.svg")
					a(href="https://discord.gg/8Q3gw3gsD2", target="_blank").follow-us__li
						img(src="./images/discord.svg")
					a(href="https://www.instagram.com/here_wallet/", target="_blank").follow-us__li
						img(src="./images/insta.svg")

			.btn-connect-wallet Connect wallet

		.screen-title
			.screen-title__left
				h1.title-h1 Pager Freemint
				.title-prev Buyback: January, 1
				a(href="https://www.google.com/search?q=PAGER+FREEMINT+HERE+Wallet+blog", target="_blank").title-link Freemint tutorial
				.backed-by
					.backed-by__title Backed by
					img(src="./images/logo-here.svg")
					img(src="./images/big-brains.png")
					img(src="./images/near-foundation.svg")

			.screen-title__right
				img.screen-title__img(src='./images/pager-comics.png' alt='Pager Freemint')

		.screen-stock
			.screen-stock__wrapper
				.screen-stock_title Mint is over
				.stock-p Mint BASIC PAGER, upgrade it to increase the price and sell on buyback on January 1.
				.screen-stock__slider
					.screen-stock__slider-item
						.slider-item__slide-tables
							.slider-item__left.active#item-basic
								h3.h3-basic Basic
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Current Price
										.tooltip-container
											span.tooltip-trigger
											.tooltip The prize pool is shared by all NFTs. The price of NFT can coming down as new PAGERs are minted. Be the first to sell.
										.slider-item__table-list_right.price ≈ 5 USDT
									.slider-item__table-list
										.slider-item__table-list_left Value
										.slider-item__table-list_right 1 point
									.slider-item__table-list
										.slider-item__table-list_left Minted
										.slider-item__table-list_right.count 0/10000

							.slider-item__left#item-pro
								h3.h3-pro PRO
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Current Price
										.tooltip-container
											span.tooltip-trigger
											.tooltip The prize pool is shared by all NFTs. The price of NFT can coming down as new PAGERs are minted. Be the first to sell.
										.slider-item__table-list_right.price ≈ 25 USDT
									.slider-item__table-list
										.slider-item__table-list_left Value
										.slider-item__table-list_right 5 points
									.slider-item__table-list
										.slider-item__table-list_left Upgraded
										.slider-item__table-list_right.count 0

							.slider-item__left#item-ultra
								h3.h3-ultra ULTRA
								.slider-item__table
									.slider-item__table-list
										.slider-item__table-list_left Current Price
										.tooltip-container
											span.tooltip-trigger
											.tooltip The prize pool is shared by all NFTs. The price of NFT can coming down as new PAGERs are minted. Be the first to sell.
										.slider-item__table-list_right.price ≈ 50 USDT
									.slider-item__table-list
										.slider-item__table-list_left Value
										.slider-item__table-list_right 10 points
									.slider-item__table-list
										.slider-item__table-list_left Upgraded
										.slider-item__table-list_right.count 0
						.slider-item__slide-images
							.slider-item__right.active
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-1.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-1.jpg' alt='Basic')

							.slider-item__right
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-2.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-2.jpg' alt='Basic')

							.slider-item__right
								img.slider-item_img.slider-item_img_desktop(src='./images/pagers-stock-3.png' alt='Basic')
								img.slider-item_img.slider-item_img_mobile(src='./images/mint-3.jpg' alt='Basic')
					
					.slider-item__pagination
						.slider-pagination__item.slider-pagination__prev
						.slider-pagination__item.slider-pagination__next

		.screen-your.user
			.screen-your__left
				.screen-your__h4 Mint
				.screen-your__h2 Pager
					span.price
					.tooltip-container
						span.tooltip-trigger(style="margin-bottom: -7px; margin-left: 4px")
						.tooltip 1 point × Point prize
							br
							| It is a USDT balance for the NFT buyback. Point price = total balance / number of points issued

				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				
				.screen-your__prev Mission:
					span Follow HERE on Telegram or Twitter

				ul.screen-your__ul
					li
						span Tips: 
					li 
						div 1. Connect Telegram or Twitter account
						div(style="display: flex; gap: 8px; margin: 8px 0 16px;")
							a(href="" target="_blank" rel="noopener noreferrer").connect-social.twitter Twitter
							a(href="" target="_blank" rel="noopener noreferrer").connect-social.telegram Telegram

					li(style="display: flex; gap: 4px; align-items: center")
						span 2. Follow @here_wallet 
						a(target="_blank" rel="noopener noreferrer" style="margin-left: 8px" href="https://twitter.com/here_wallet")
							img(src="./images/twitter3.svg")
						a(target="_blank" rel="noopener noreferrer" href="https://t.me/herewalletchat")
							img(src="./images/telegram3.svg")

				.screen-your__send
					button.screen-your__btn.connect-wallet-from-item(style="width: 100%") Connect wallet
					span.screen-your__error

		.screen-your
			.screen-your__left
				.screen-your__h4 Mint
				.screen-your__h2 Pager
					span.price
					.tooltip-container
						span.tooltip-trigger(style="margin-bottom: -7px; margin-left: 4px")
						.tooltip 1 point × Point prize.
							br
							| It is a USDT balance for the NFT buyback. Point price = total balance / number of points issued

				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				
				.screen-your__prev Mission:
					span Follow HERE on Telegram or Twitter

				ul.screen-your__ul
					li
						span Tips: 
					li 
						div 1. Connect Telegram or Twitter account
						div(style="display: flex; gap: 8px; margin: 8px 0 16px;")
							a(href="" target="_blank" rel="noopener noreferrer").connect-social.twitter Twitter
							a(href="" target="_blank" rel="noopener noreferrer").connect-social.telegram Telegram

					li(style="display: flex; gap: 4px; align-items: center")
						span 2. Follow @here_wallet 
						a(target="_blank" rel="noopener noreferrer" style="margin-left: 8px" href="https://twitter.com/here_wallet")
							img(src="./images/twitter3.svg")
						a(target="_blank" rel="noopener noreferrer" href="https://t.me/herewalletchat")
							img(src="./images/telegram3.svg")

				.screen-your__send
					button.screen-your__btn(style="width: 100%; max-width: 100%", disable) Mint
					span.screen-your__error

		.screen-your
			.screen-your__left.user
				.screen-your__h4 Your
				.screen-your__h2 Pager
					span.price
					.tooltip-container
						span.tooltip-trigger(style="margin-bottom: -7px; margin-left: 4px")
						.tooltip Current price for the NFT buyback (1 × Point price)

				.screen-your__right
					img.screen-your__img(src='./images/mint-1.jpg' alt='Basic')
				.screen-your__prev Mission to upgrade:
					span Send $3+ by link to your friend

				ul.screen-your__ul
					li
						span Tips: 
					li 1. Click "Pay&Transfer"
					li 2. Click "Drop token with a link"
					li 3. Send a link to your friend
					li 
						span 4. Wait while he/she claims it (only new devices count)

				.screen-your__send
					button.screen-your__btn Upgrade to PAGER Pro
					div.sell-nft-wrap
						button.screen-your__btn_transp Sell
							span Buyback on January, 1
						
						//- a(href="https://www.tradeport.xyz/near/collection/pager.herewallet.near?tab=items&bottomTab=trades")
						//- 	| Trade on Tradeport now
							
					span.screen-your__error

		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 Pager PRO
					span.price
					.tooltip-container
						span.tooltip-trigger(style="margin-bottom: -7px; margin-left: 4px")
						.tooltip Current price for the NFT buyback (5 × Point price)

				.screen-your__right
					img.screen-your__img(src='./images/mint-2.jpg' alt='PageR PRO')

				.mission3-variant1
					.screen-your__prev Mission to upgrade:
						span Send $5+ by phone number
					ul.screen-your__ul
						li
							span Tips: 
						li 1. Click "Pay&Transfer"
						li 2. Click "Use Phone number"
						li 3. Send money to a friend which haven't gotten the transfer by number yet
						li 
							span 4. Wait while he/she claims it from new device.

				.mission3-variant2(style="display: none")
					.screen-your__prev Mission to upgrade:
						span Earn 500+ weekly score.
					
					ul.screen-your__ul
						li
							span Tips: 
						li 1. Go to profile
						li 2. Click "Missions"
						li 3. Complete any mission to get 500+ score. Now:
							span.weekly-score-amount


				.screen-your__send
					button.screen-your__btn Upgrade to PAGER Ultra
					div.sell-nft-wrap
						button.screen-your__btn_transp Sell
							span Buyback on January, 1
						
						//- a(href="https://www.tradeport.xyz/near/collection/pager.herewallet.near?tab=items&bottomTab=trades")
						//- 	| Trade on Tradeport now

					span.screen-your__error

				.change-mission-variant
					p I can’t use phone number transfer
					img(src="./images/cursor-right.svg")
			
		.screen-your
			.screen-your__left
				.screen-your__h4 Your
				.screen-your__h2 Pager ULTRA
					span.price 
					.tooltip-container
						span.tooltip-trigger(style="margin-bottom: -7px; margin-left: 4px")
						.tooltip Current price for the NFT buyback (10 × Point price)

				.screen-your__right
					img.screen-your__img(src='./images/mint-3.jpg' alt='PageR ULTRA')
				.screen-your__prev Maximum level reached!
				ul.screen-your__ul
					li
						span What to do next? 
					li 1. We will be announcing 3 pre-sales on Twitter for 50-100 NFT. The earlier you sell, the higher the price will be
					li 2. Pre-sales will be available for users with a 500+ weekly score or for those who have H.E.R.E from Starbox NFT. Make sure you are ready.

				.screen-your__send
					div.sell-nft-wrap
						button.screen-your__btn_transp Sell
							span Buyback on January, 1
						
						a(href="https://www.tradeport.xyz/near/collection/pager.herewallet.near?tab=items&bottomTab=trades")
							| Trade on Tradeport now
		
		.congrats-screen.screen-your
			.screen-your__left
				.screen-your__h2 Congratulation!
				ul.screen-your__ul
					li You burned pager and receive USDT. Check your account. Happy new year!
					br
					li Share your profit with tag #burnpager and we will send you additional USDT gift!
				
				.screen-your__send
					div.sell-nft-wrap
						a(href="https://t.me/herewalletchat").screen-your__btn_transp 
							p(style="margin-top: 8px; display: block !important") Share in telegram

		.screen-howitwork
			h2.title-black How it works
			.screen-howitwork__wrapper
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-1.png' alt='send USDT by phone number')
					p in HERE Wallet app you can send USDT by phone number to people who don't have a wallet yet.
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-2.png' alt='temporary secure storage')
					p then the USDT will go to a smart contract - a temporary secure storage.
				.screen-howitwork__column
					img.slider-item_img(src='./images/how-it-work-3.png' alt='download a wallet')
					p your friend will receive an sms with a link to download a wallet. money will be inside it.

		.screen-earnmore
			h2.title-white Earn more!
			.screen-earnmore__wrapper
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-1.png' alt='Weekly Score')
						.screen-earnmore__usdt 25
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='40 USDT')
					h3 Weekly<br /> Score
					p Every week top users by score grow get 0.5-25 USDT
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-2.png' alt='cashback for transfer')
						.screen-earnmore__usdt X
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='1.5 USDT')
					h3 Gas-free<br /> transactions
					p You will get 15 gas-free transactions every month if you earn 1500+ score.
				.screen-earnmore__column
					.screen-earnmore__img
						img.screen-earnmore_main-img(src='./images/earn-more-3.png' alt='Refferal program')
						.screen-earnmore__usdt 1
							img.screen-earnmore_img-icon(src='./images/earn-more-t.png' alt='2 USDT')
					h3 Refferal<br /> program
					p You receive 1-2 USDT for each invited friend who connected Binance account
		
		.section-faq#faq
			.section-faq__title In case you <span>missed anything</span>
			.section-faq__item
				.section-faq__ask What is the fee for transferring via phone number?
				.section-faq__answer The cost for transferring via a phone number is the same as the SMS processing fee. It varies for different countries, and HERE doesn't charge its own fee for this.
			.section-faq__item
				.section-faq__ask What is the fee for transferring via a link?
				.section-faq__answer The fee for transferring via a link is approximately 0.045 NEAR. Link transfers are facilitated through keypom.xyz. After the linkdrop, reserved NEARs can be unfrozen at keypom.xyz
			.section-faq__item
				.section-faq__ask How is the price of NFTs determined?
				.section-faq__answer The more users mint  NFT's, the lower its price. To maximize your benefits you can sell the NFT at one of two pre sales or get more upgrades.
			.section-faq__item
				.section-faq__ask How to sell NFTs
				.section-faq__answer After January 1 or during pre sales, there will be a button on the website to burn the NFT. Until then, you can sell NFTs on Tradeport to other traders
			.section-faq__item
				.section-faq__ask What to do if the NFT doesn’t update after a successful transfer
				.section-faq__answer If your transfer isn't credited, contact our technical support on 
					a(href="https://t.me/heresupport") Telegram 
					| or submit a ticket in our 
					a(href="https://discord.gg/vNWr495ZPr") Discord channel. This can happen due to high load and we will try to help you promptly.
			.section-faq__item
				.section-faq__ask How to withdraw USDT to a bank card
				.section-faq__answer 
					a(href="https://near.herewallet.app/blog/how-to-withdraw-to-card") You can withdraw NEAR to Binance or other exchanges. Click to read more. 
		//- .price-widget 
		//- 	div
		//- 		p Point price: 
		//- 			span.price ___
		//- 	div
		//- 		p Bounty bank: 
		//- 			span.bank ______

		script(type="module", src="index.ts")