.hot-token_fire
.hot-token
	.hot-token__header
		h2 HOT token
		h4.inter-font Makes network sustainable<br /> and provides rewards for validators
		a(href="", target="_blank").btn.btn_gradient Start mine HOT
	.hot-token__middle
		.hot-token__left
			h3 HOT is used to sign transactions on validators. 
			p The cost of signing depends on the key generation level and network load
			.show-in-375
				img(src="./images/hot-token-per.png", alt="")
			ul.cost-list
				li.cost-list_1 15% rewards to validators
				li.cost-list_2.for_desktop 35% rewards to inviter and HOT DAO
				li.cost-list_2.for_mobile 35% rewards to HOT DAO
				li.cost-list_3 50% burns
			h3.no-margin.align-center Validators
			p.hot-token__hide store parts of the user's private key and participate in the transaction signing
		.hot-token__right
			img(src="./images/hot-token-per.png", alt="").hide-in-375
	
	ul.token-list
		li.token-list_1
			h3 Stake
			p HOT to become part of the network.
		li.token-list_2
			h3 Earn
			p HOT for signing transactions.
		li.token-list_3
			h3 Do it right
			p or be fined for downtime and signature errors.