doctype html
html(lang="en")
  head
    link(href="https://fonts.cdnfonts.com/css/cabinet-grotesk", rel="stylesheet")

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style
      include style.sass
   
  body 
    #header Feature: Dark Theme / Russian interface
    #progress
      #stat
      #line
    script(src='./index.js')
    
	
    