.stars
.overflow-hidden
	.header
		.header__menu-wrapper
			.icon-burger
				img(src="./images/menu-burger.svg", alt="Mobile menu").burger-closet
				img(src="./images/menu-close.svg", alt="Mobile menu").burger-open
			.header__logo.logo
				img(src="./images/logo-hito.png").logo_1
				.logo_2 x
				.logo_3 HOT
		.header__menu.menu
			a(href="/").menu-link NFT drop
			a(href="/").menu-link Features
			a(href="/").menu-link Mobile app
			a(href="/").menu-link Investors
			a(href="/").menu-link FAQ
		.header__btn
			a(href="/").btn.btn_dark Pre-order
		.header__social
			a(href="/", target="_blank").social-x
				img(src="./images/icon-x.svg")
			a(href="/", target="_blank").social-tel
				img(src="./images/icon-telegram.svg")
			a(href="/", target="_blank").social-inst
				img(src="./images/icon-inst.svg")
	.presentation
		img(src="./images/hold-wallet-1.png").presentation-dragon.presentation-dragon_1
		img(src="./images/hold-wallet-2.png").presentation-dragon.presentation-dragon_2
		img(src="./images/hold-wallet.png").presentation-hold

	.hold-wallet
		h5
			span Hito x HOT limited edition
		h1 Hold wallet.
		p Thin, wireless, and with a touch screen.<br /> Store your crypto safe with HOLD wallet.
		a(href="/").btn.btn_gradient Pre-order
	.future.wrapper
		.future-column.future-column_1
			img(src="./images/icon-eye.svg")
			.future-content
				h3 Open-source
				p Secure and stabe code
		.future-column.future-column_2
			img(src="./images/icon-usa.svg")
			.future-content
				h3 Made in California, USA
				p A reliable country of origin
		.future-column.future-column_3
			img(src="./images/icon-users.svg")
			.future-content
				h3 Recognized by ETH users
				p A wallet recognized by community