.faq.wrapper
	.faq-header
		h2 FAQ
		p Find answers to some of the most common questions.
	.faq-content
		.faq-block
			.faq-block-header
				p Is open-source really such a big deal for security?
				img(src="./images/chevron-right.svg", alt="")
			.faq-block-body
				p Open-source code can be checked by anyone at any time. It’s continually being tested by the community. Security patches are introduced the fastest way, that’s why with open-source, users get the highest level of security possible.
		.faq-block
			.faq-block-header
				p Why is it important to be able to see your transactions on the device?
				img(src="./images/chevron-right.svg", alt="")
			.faq-block-body
				p Open-source code can be checked by anyone at any time. It’s continually being tested by the community. Security patches are introduced the fastest way, that’s why with open-source, users get the highest level of security possible.
		.faq-block
			.faq-block-header
				p What are the different types of crypto wallets?
				img(src="./images/chevron-right.svg", alt="")
			.faq-block-body
				p Open-source code can be checked by anyone at any time. It’s continually being tested by the community. Security patches are introduced the fastest way, that’s why with open-source, users get the highest level of security possible.
		.faq-block
			.faq-block-header
				p Why do I need a hardware wallet?
				img(src="./images/chevron-right.svg", alt="")
			.faq-block-body
				p Open-source code can be checked by anyone at any time. It’s continually being tested by the community. Security patches are introduced the fastest way, that’s why with open-source, users get the highest level of security possible.
		.faq-block
			.faq-block-header
				p How to get a crypto wallet?
				img(src="./images/chevron-right.svg", alt="")
			.faq-block-body
				p Open-source code can be checked by anyone at any time. It’s continually being tested by the community. Security patches are introduced the fastest way, that’s why with open-source, users get the highest level of security possible.
