section.partners
    h2
        | Partners
        span.dot .
    .partners-group.partners-nft
        p NFT
        img(src='/assets/partners/paras.svg')
        img(src='/assets/partners/nearstarter.png')
        img(src='/assets/partners/mintbase.png')
        img(src='/assets/partners/a24.png')
    .partners-group.partners-finance
        p Finance
        img(src='/assets/partners/pemb.png')
        img(src='/assets/partners/burrow.png')
        img(src='/assets/partners/nearpay.png')
        img(src='/assets/partners/astrostakers.png')
    .partners-group.partners-dex
        p DEX
        img(src='/assets/partners/tonic.png')
        img(src='/assets/partners/spin.png')
    .partners-group.partners-other
        p Other
        img(src='/assets/partners/learnnear.png')
