section.partners
    h2
        | Partners
        span.dot .
    .partners-group.partners-nft
        p NFT
        a(href="https://paras.id")
            img(src='/assets/partners/paras.svg', width="140px", height="33px")

        a(href="https://nearstarter.fi/")
            img(src='/assets/partners/nearstarter.svg', style="margin-top: 8px", width="303px", height="29px")
     
        a(href="https://www.mintbase.io/")
            img(src='/assets/partners/mintbase.svg', width="187px", height="49px")
        

    .partners-group.partners-finance
        p Finance
        a(href="https://pembrock.finance/")
            img(src='/assets/partners/pembrock.svg', width="242px", height="65px")
        a(href="https://app.burrow.cash/")
            img(src='/assets/partners/burrow.svg', style="margin-bottom: 5px", width="176px", height="47px")
        a(href="https://www.nearpay.io/")
            img(src='/assets/partners/nearpay.svg', width="161px", height="30px")
        a(href="https://astrostakers.com/")
            img(src='/assets/partners/astrostakers.svg', style="margin-bottom: 6px", width="238px", height="27px")

    .partners-wrap
        .partners-group.partners-dex
            p DEX
            a(href="https://tonic.foundation/")
                img(src='/assets/partners/tonic.svg', width="181px", height="57px")
            a(href="https://spin.fi/")
                img(src='/assets/partners/spin.svg', width="187px", height="52px")
        
        .partners-group.partners-other
            p Other
            a(href="https://learnnear.club/")
                img(src='/assets/partners/LNC.svg', width="360px", height="72px")
