doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title HERE Wallet - secure, fun and powerful client for crypto exchanges
        meta(name="description", content="Self-custodial mobile wallet on top of centralized exchanges. You can connect Binance account to make quick transfers, use any dApps and stake onchain. Support NEAR Protocol.")
        
        meta(name="og:title", content="HERE Wallet")
        meta(name="og:description", content="Self-custodial wallet on top of centralized exchanges. You can connect Binance account to make quick transfers, use any dApps and stake onchain.")
        meta(name="og:url", content="https://herewallet.app")
        meta(name="og:image", content="https://storage.herewallet.app/download.jpg")

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:image", content="https://storage.herewallet.app/download.jpg")
        meta(name="telegram_channel", content="herewallet")

        link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nerko+One&display=swap" rel="stylesheet")

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')

        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J76SQ67RJB');

        link(href="../assets/cabinet-grotesk/index.css", rel="stylesheet")
        link(href="./index.sass", rel="stylesheet")
    body
      include ./header/index.pug
      +header("/mint")

      .support-buttons
        a(href="https://discord.gg/8Q3gw3gsD2")
          img(src="../assets/Socials/Discord.svg")
        a(href="https://t.me/herewalletchat")
          img(src="../assets/Socials/Telegram.svg")
      
      .page 
        .mint-interlude-wrap
          .mint-line
            h1.mint-title
              | STARBOX FREE MINT 
            p.mint-text
              | Pick up your starbox NFT, 5500+ of them holds the prizes. Mint is free via HERE Wallet

          section.mint-interlude
            .mint-status
              .mint-status-item.prizes
                p.item-title Total available
                h3.item-value.green.total-available 1000
              .mint-status-item.time
                p.item-title Time to mint
                h3.item-value.time-to-mint(style="width:350px") 00:00:00
              .mint-status-item
                p.item-title Total minted
                h3.item-value.total-minted 0
            .mint-buttons
              button.mint-button-connect Connect wallet
              a.mint-button-more(href="https://www.herewallet.app/blog/freemint") Learn more
            .mint-status.mobile
              .prizes-and-total
                .mint-status-item.prizes
                  p.item-title Total available
                  h3.item-value.green.total-available
                .mint-status-item.total
                  p.item-title Total minted
                  h3.item-value.total-minted
              .mint-status-item.time
                p.item-title Time to mint
                h3.item-value.time-to-mint 

            .mint-connect
              .mint-connect-items
                .connect-item.close
                  img(src="../assets/mint/case.png", width=337, height=422).nft-close-case
                  .nft-open-case(style="display: none")
                    img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                    img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case

                  a.unpack-link(style="display: none")
                    img(src="../assets/mint/claim.svg")
                    .unpack-link-text
                      p.link-text Unpack
                      p.link-hover-text Unpack
                  a.claim-link(style="display: none")
                    img(src="../assets/mint/claim.svg")
                    .claim-link-text
                      p.link-text Claim
                      p.link-hover-text Claim
                  a.connect-link
                    img(src="../assets/mint/link-arrow.svg")
                    .connect-link-text
                      p.link-text Connect to mint
                      p.link-hover-text Connect to mint

                  .mint-required.required-activity(style="display: none")
         
                  .mint-required.required-time(style="display: none")
                    p.mint-required-title Free mint will be available at
                    p.mint-required-info.required-time-info
                  
                .connect-item.open.claimed(style="display: none")
                  .nft-open-case
                    img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                    img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
                  .nft-prize

                .connect-item.close
                  img(src="../assets/mint/case.png", width=337, height=422).nft-close-case
                  .nft-open-case(style="display: none")
                    img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                    img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case

                  a.unpack-link(style="display: none")
                    img(src="../assets/mint/claim.svg")
                    .unpack-link-text
                      p.link-text Unpack
                      p.link-hover-text Unpack
                  a.claim-link(style="display: none")
                    img(src="../assets/mint/claim.svg")
                    .claim-link-text
                      p.link-text Claim
                      p.link-hover-text Claim
                  a.connect-link
                    img(src="../assets/mint/link-arrow.svg")
                    .connect-link-text
                      p.link-text Connect to mint
                      p.link-hover-text Connect to mint

                  .mint-required.required-activity(style="display: none")
                    p.mint-required-title Requirements to claim
                    p.mint-required-info 150+ score
                    a.mint-required-link(href="https://www.herewallet.app/blog/here-score-29ce3537e225")
                      span Read more
                      img(src="../assets/icons/link-arrow-white.svg")

                  .mint-required.required-time(style="display: none")
                    p.mint-required-title Free mint will be available at
                    p.mint-required-info.required-time-info
                .connect-item.open.claimed(style="display: none")
                  .nft-open-case
                    img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                    img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
                  .nft-prize
                  
                .connect-item.close
                  img(src="../assets/mint/case.png", width=337, height=422).nft-close-case
                  a.unpack-link(style="display: none")
                    img(src="../assets/mint/claim.svg")
                    .unpack-link-text
                      p.link-text Unpack
                      p.link-hover-text Unpack
                  a.claim-link(style="display: none")
                    img(src="../assets/mint/claim.svg")
                    .claim-link-text
                      p.link-text Claim
                      p.link-hover-text Claim
                  a.connect-link
                    img(src="../assets/mint/link-arrow.svg")
                    .connect-link-text
                      p.link-text Connect to mint
                      p.link-hover-text Connect to mint

                  .mint-required.required-activity(style="display: none")
                    p.mint-required-title Requirements to claim
                    p.mint-required-info Binance connect
                    a.mint-required-link(href="https://www.herewallet.app/blog/binance%20connect")
                      span Read more
                      img(src="../assets/icons/link-arrow-white.svg")
                  .mint-required.required-time(style="display: none")
                    p.mint-required-title Free mint will be available at
                    p.mint-required-info.required-time-info
                .connect-item.open.claimed(style="display: none")
                  .nft-open-case
                    img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                    img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
                  .nft-prize

        section.mint-nft
          .mint-nft-background.mint-nft-background-dots
          .mint-nft-background.mint-nft-background-texture
          h1 Find inside #[strong STARBOX] NFT:
          .nft-items
            .nft-item
              .nft-small-images
                .container
                  img(src="../assets/mint/nft-usdt.png", width=54, height=54).usdt-1
                  img(src="../assets/mint/nft-usdt.png", width=54, height=54).usdt-2
                  img(src="../assets/mint/nft-usdt.png", width=54, height=54).usdt-3
              .nft-open-case
                img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
              .nft-item-text
                p.title 1000 USDT
                p.subtitle 500 boxes (1 - 100 USDT)
            .nft-item
              .nft-small-images
                .container
                  img(src="../assets/mint/nft-1.png", width=60, height=60).nft-1
                  img(src="../assets/mint/nft-2.png", width=60, height=60).nft-2
                  img(src="../assets/mint/nft-3.png", width=60, height=60).nft-3
                  img(src="../assets/mint/nft-4.png", width=60, height=60).nft-4
                  img(src="../assets/mint/nft-5.png", width=60, height=60).nft-5
              .nft-open-case
                img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
              .nft-item-text
                p.title 10 HERE NFT
                p.subtitle 10 boxes (floor: ~30 NEAR)
            .nft-item
              .nft-small-images
                .container
                  img(src="../assets/mint/150-1.png", width=76, height=50).score-1
                  img(src="../assets/mint/150-2.png", width=76, height=50).score-2
                  img(src="../assets/mint/150-2.png", width=76, height=50).score-3
              .nft-open-case
                img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
              .nft-item-text
                p.title +150 SCORE
                p.subtitle 5000 boxes
            .nft-item
              .nft-small-images
                  .container
                    img(src="../assets/mint/mutation.png", width=117, height=117).mutation
              .nft-open-case
                img(src="../assets/mint/nft-light.png", width=195, height=236).nft-item-light
                img(src="../assets/mint/nft-case.png", width=230, height=193).nft-item-case
              .nft-item-text
                p.title 1 Mutation
                p.subtitle 1 box (Price: 99 NEAR)
        
        div(style="background: #fff")
          section.mint-timeline
            h1 Timeline
            .timeline-items
              .timeline-item
                .timeline-item-image.background-connect-qrcode
                .timeline-item-dates Aug, 25 - Aug, 26
                .timeline-item-title Waiting list
                .timeline-item-text Scan QR to set reminder
              .timeline-item
                .timeline-item-image
                  img(src="../assets/mint/timeline-chest.png", width=140, height=140)
                .timeline-item-dates Aug, 26 - Aug, 27
                .timeline-item-title Mint STARBOX NFT
              .timeline-item.active
                .timeline-item-image
                  img(src="../assets/mint/timeline-app.png", width=140, height=140)
                .timeline-item-dates Aug, 27 - Aug, 30
                .timeline-item-title 
                  | Burn minted NFT
                  br
                  | and get prize
              

      include modal/index.pug
      include footer/index.pug
      script(type="module", src="./index.js")