doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title HERE Wallet - secure, fun and powerful client for crypto exchanges
        meta(name="description", content="Self-custodial mobile wallet on top of centralized exchanges. You can connect Binance account to make quick transfers, use any dApps and stake onchain. Support NEAR Protocol.")
        
        meta(name="og:title", content="HERE Wallet")
        meta(name="og:description", content="Self-custodial wallet on top of centralized exchanges. You can connect Binance account to make quick transfers, use any dApps and stake onchain.")
        meta(name="og:url", content="https://herewallet.app")
        meta(name="og:image", content="https://storage.herewallet.app/download.jpg")

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:image", content="https://storage.herewallet.app/download.jpg")
        meta(name="telegram_channel", content="herewallet")

        link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')

        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J76SQ67RJB');

        link(href="../assets/cabinet-grotesk/index.css", rel="stylesheet")
        link(href="./index.sass", rel="stylesheet")
    body
      include ./header/index.pug
      +header("/mint")

      .page 

        .mint-interlude-wrap
          .mint-line
            h1.mint-title
              | <em>STARBOX</em> FREE MINT 
            p.mint-text
              | Pick up your starbox NFT, 3500 of them holds the prizes. Mint is free via HERE Wallet

          section.mint-interlude
            .mint-status
              .mint-status-item.prizes
                p.item-title Total available
                h3.item-value.green 10 000
              .mint-status-item.time
                p.item-title Time to mint
                h3.item-value.time-to-mint 0d 00:00:00
              .mint-status-item
                p.item-title Total minted
                h3.item-value.total-minted 0
            .mint-buttons
              button.mint-button-connect Connect wallet
              a.mint-button-more(href="https://www.herewallet.app/blog/freemint") Learn more
            .mint-status.mobile
              .prizes-and-total
                .mint-status-item.prizes
                  p.item-title Total available
                  h3.item-value.green 10 000
                .mint-status-item.total
                  p.item-title Total minted
                  h3.item-value.total-minted 0
              .mint-status-item.time
                p.item-title Time to mint
                h3.item-value.time-to-mint 

            .mint-connect
              .mint-connect-items
                .connect-item
                  img(src="../assets/mint/case-bg.svg").flying-box-back
                  img(src="../assets/mint/flying-box.png").flying-box
                  a.connect-link
                    img(src="../assets/mint/link-arrow.svg")
                    .connect-link-text
                      p.link-text Connect to mint
                      p.link-hover-text Connect to mint
                  
                  .mint-required.required-time(style="display: none")
                    p.mint-required-title Free mint will be available at
                    p.mint-required-info.required-time-info
                  
                .connect-item
                  img(src="../assets/mint/case-bg.svg").flying-box-back
                  img(src="../assets/mint/flying-box.png").flying-box
                  a.connect-link
                    img(src="../assets/mint/link-arrow.svg")
                    .connect-link-text
                      p.link-text Connect to mint
                      p.link-hover-text Connect to mint
                  .mint-required.required-activity(style="display: none")
                    p.mint-required-title Requirements to claim
                    p.mint-required-info 200+ score
                    a.mint-required-link(href="https://www.herewallet.app/blog/here-score-29ce3537e225")
                      span Read more
                      img(src="../assets/icons/link-arrow-white.svg")

                  .mint-required.required-time(style="display: none")
                    p.mint-required-title Free mint will be available at
                    p.mint-required-info.required-time-info

                .connect-item
                  img(src="../assets/mint/case-bg.svg").flying-box-back
                  img(src="../assets/mint/flying-box.png").flying-box
                  a.connect-link
                    img(src="../assets/mint/link-arrow.svg")
                    .connect-link-text
                      p.link-text Connect to mint
                      p.link-hover-text Connect to mint
                  .mint-required.required-activity(style="display: none")
                    p.mint-required-title Requirements to claim
                    p.mint-required-info Binance connect
                    a.mint-required-link(href="https://www.herewallet.app/blog/binance%20connect")
                      span Read more
                      img(src="../assets/icons/link-arrow-white.svg")
                  .mint-required.required-time(style="display: none")
                    p.mint-required-title Free mint will be available at
                    p.mint-required-info.required-time-info


        section.mint-nft
          .mint-nft-background.mint-nft-background-dots
          .mint-nft-background.mint-nft-background-texture
          h1 Find inside #[strong STARBOX] NFT:
          .nft-items
            .nft-item
              .nft-small-images
                .container
                  img(src="../assets/mint/nft-usdt.svg").usdt-1
                  img(src="../assets/mint/nft-usdt.svg").usdt-2
                  img(src="../assets/mint/nft-usdt.svg").usdt-3
              .nft-open-case
                img(src="../assets/mint/nft-light.svg").nft-item-light
                img(src="../assets/mint/nft-case.svg").nft-item-case
              .nft-item-text
                p.title 1000 USDT
                p.subtitle (0.5 - 100 USDT, inside 1000 USDT)
            .nft-item
              .nft-small-images
                .container
                  img(src="../assets/mint/nft-1.svg").nft-1
                  img(src="../assets/mint/nft-2.svg").nft-2
                  img(src="../assets/mint/nft-3.svg").nft-3
                  img(src="../assets/mint/nft-4.svg").nft-4
                  img(src="../assets/mint/nft-5.svg").nft-5
              .nft-open-case
                img(src="../assets/mint/nft-light.svg").nft-item-light
                img(src="../assets/mint/nft-case.svg").nft-item-case
              .nft-item-text
                p.title 5 HERE NFT
                p.subtitle (floor: ~30 NEAR, inside 5 NFTs)
            .nft-item
              .nft-small-images
                .container
                  img(src="../assets/mint/150-1.svg").score-1
                  img(src="../assets/mint/150-2.svg").score-2
                  img(src="../assets/mint/150-3.svg").score-3
              .nft-open-case
                img(src="../assets/mint/nft-light.svg").nft-item-light
                img(src="../assets/mint/nft-case.svg").nft-item-case
              .nft-item-text
                p.title +150 SCORE
                p.subtitle (inside 2000 SCORE)
            .nft-item
              .nft-small-images
                  .container
                    img(src="../assets/mint/mutation.svg").mutation
              .nft-open-case
                img(src="../assets/mint/nft-light.svg").nft-item-light
                img(src="../assets/mint/nft-case.svg").nft-item-case
              .nft-item-text
                p.title 1 Mutation
                p.subtitle (Price: 99 NEAR, inside 1 Mutation)
        
        div(style="background: #fff")
          section.mint-timeline
            h1 Timeline
            .timeline-items
              .timeline-item.active
                .timeline-item-image.background-connect-qrcode
                .timeline-item-dates Aug, 21 - Aug, 24
                .timeline-item-title Waiting list
                .timeline-item-text Scan QR to set reminder
              .timeline-item
                .timeline-item-image
                  img(src="../assets/mint/timeline-chest.svg")
                .timeline-item-dates Aug, 25 - Aug, 26
                .timeline-item-title Mint STARBOX NFT
              .timeline-item
                .timeline-item-image
                  img(src="../assets/mint/timeline-app.svg")
                .timeline-item-dates Aug, 27 - Aug, 30
                .timeline-item-title 
                  | Burn minted NFT
                  br
                  | and get prize
              

      include modal/index.pug
      include footer/index.pug
      script(type="module", src="./index.js")