doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hito Hot
        meta(name="description", content="")
        
        meta(name="og:title", content="Hito Hot")
        meta(name="og:description", content="")
        meta(name="og:url", content="https://herewallet.app")
        meta(name="og:image", content="https://storage.herewallet.app/download.jpg")

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:image", content="https://storage.herewallet.app/download.jpg")
        meta(name="telegram_channel", content="herewallet")

        link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
        script(src="https://cdn.babylonjs.com/babylon.js")
        script(src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js")
        script(src="https://code.jquery.com/pep/0.4.3/pep.js")

        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J76SQ67RJB');

        link(href="../assets/cabinet-grotesk/index.css", rel="stylesheet")
        link(href="./index.sass", rel="stylesheet")
    body 
        include header/index.pug
        include buy-hito/index.pug
        include section-three/index.pug
        include nfc-nft/index.pug
        include built-last/index.pug
        include get-smaller/index.pug
        include the-boss/index.pug
        include investors/index.pug
        include faq/index.pug
        include footer/index.pug

        script(type="module", src="./index.js")
