section.asks
    h2
        | #{asks.title}
        span.dot .

    for item in asks.items
        .ask-block
            .ask-block-header
                p= item.title
                img(src='/assets/icons/arrow-down.svg')
            
            .ask-block-body
                p= item.text
