
doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title First NEAR based mobile wallet — HERE is on TestFlight
        meta(name="description", content="Blog HERE")

        meta(name="og:title", content="First NEAR based mobile wallet — HERE is on TestFlight")
        meta(name="og:description", content="First NEAR based mobile wallet — HERE is on TestFlight")
        meta(name="og:url", content="http://herewallet.app/blog/first-near-based-mobile-wallet-here-is-on-testflight-89d13b8bbc9a")
        meta(name="og:image", content="https://storage.herewallet.app/download.jpg")
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:image", content="https://storage.herewallet.app/download.jpg")
        meta(name="telegram_channel", content="herewallet")
        link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
        link(href="style.sass", rel="stylesheet")
        link(href="http://herewallet.app/blog/first-near-based-mobile-wallet-here-is-on-testflight-89d13b8bbc9a", rel="canonical")
        meta(name="format-detection", content="telephone=no")
        link(href="https://fonts.googleapis.com", rel="preconnect")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap", rel="stylesheet")
        
        link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J76SQ67RJB');
        link(href="../assets/cabinet-grotesk/index.css", rel="stylesheet")
        link(href="./style.sass", rel="stylesheet")
    body.white
        include ../landing/header/index.pug
        +header("/blog")
        
        section.post
            
            .post-header
                .parameters
                    .tag(id="Company")
                        | Company
                    .point
                    .time-to-read 
                        | 22 min
                h1.post-title
                    | First NEAR based mobile wallet — HERE is on TestFlight
                .post-date
                    | Jul 24, 2023

            .post-content
                p.text The first mobile wallet for NEAR — HERE Wallet — has been launched in TestFlight. Unlike many other wallets, you do not need to register on many sites and dApps. Everything you need is already here and you can use your dApps in one click. The wallet will immediately generate and send a transaction to the desired smart contract and will get that same result. But you do not have to go to your personal computer and use the clients of other services.
                p.text We add more and more services to our app but you can already:
                p.text - Buy NEAR for other cryptocurrencies
                p.text - Send NEAR by phone number
                p.text - Stack NEAR without blocking your NEAR
                p.text - buy and sell FT tokens
                p.text - transfer NEAR and call smart contracts
                p.text Everyone who signs up receives a free *.near* username. You can move to HERE from NEAR Web Wallet with just 2 clicks! Welcome to HERE Wallet!
                a(href="https://t.co/ZpCyiGqfqM") https://testflight.apple.com/join/osMqBAZ9
                p.text Join to our Telegram community
                a(href="https://t.me/herewallet") https://t.me/herewallet

    