.roadmap
	h2 Roadmap
	picture
		source(media="(min-width: 1001px)", srcset="./images/roadmap.png 1x, ./images/roadmap.png 2x")
		source(media="(min-width: 720px)", srcset="./images/roadmap-744.png 1x, ./images/roadmap-744.png 2x")
		source(media="(min-width: 260px)", srcset="./images/roadmap-375.png 1x, ./images/roadmap-375.png 2x")
		img(src="./images/roadmap.png", alt="Wallet apps")