.video-block
	video.video-prev(autoplay="", loop="")
		source(src="./images/preview.mp4", type="video/mp4")
		source(src="./images/preview.webm", type="video/webm; codecs='vp8, vorbis'")
		source(src="./images/preview.ogv", type="video/ogg; codecs='theora, vorbis'")
.decentralized
	h1
		| HOT - decentralized 
		span MPC network
	p.inter-font A New Era of Secure, <span>User-Centric Crypto Wallets</span>
	button.btn.btn_gradient Try it out