doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Aurora is HERE now
		meta(name="description", content="Get score for using each of AURORA apps below")
		link(href="style.sass", rel="stylesheet")
		link(href="http://herewallet.app/binance-waitlist", rel="canonical")
		meta(property="og:url", content="http://herewallet.app/binance-waitlist")
		meta(property="og:title", content="Aurora is HERE now")
		meta(property="og:description", content="Get score for using each of AURORA apps below")
		meta(name="format-detection", content="telephone=no")
		link(href="https://fonts.googleapis.com", rel="preconnect")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap", rel="stylesheet")
		link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
		
		link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
		
		// Google tag (gtag.js)
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-J76SQ67RJB');
	body
		.header(style="padding-top: 32px")
			a(href="https://www.herewallet.app",target="_blank").logo
				img(src="images/logo-aurora.svg", alt="Aurora is HERE now")
			a(href="#faq").menu__faq FAQ
			div.btn-connect-wallet Connect wallet

		.header-welcome
			.welcome__first
				img(src="images/aurora-lite-logo.png", alt="Aurora is HERE now").welcome__logo
				span AURORA
			.welcome__second IS HERE NOW
			.welcome__third Get score for using each of AURORA apps below
			.welcome__prev Top 50 users with highest weekly score growth get 1-25 USDT! Starts every Monday.
			a(href="https://www.herewallet.app/blog/here-score-29ce3537e225").welcome__prev_a Learn what score is ->
		
		.cart-section
			.cart-aurora.cart-item
				.cart-title Aurora.Plus
				.cart-description - Create Aurora+ account (or use an existing one)<br /> - Connect HERE Wallet<br /> - Stake $AURORA (the more you stake the more bonus points you get)<br /> - Submit the transaction hash as proof of completion
				.cart-transaction
					p First transaction:
					button + 50
			.cart-rainbow.cart-item
				.cart-title Rainbow bridge
				.cart-description - Bridge* tokens from NEAR protocol/Ethereum** to Aurora<br /> - Submit the transaction hash as proof of completion<br /> *Use Fast Bridge feature to get max amount of bonus points**Bridging tokens from Ethereum to Aurora grants you more bonus points
				.cart-transaction
					p First transaction:
					button + 50
			.cart-trisolaris.cart-item
				.cart-title Trisolaris
				.cart-description - Go to https://www.trisolaris.io/#/swap in your browser<br /> - Connect your HERE wallet.<br /> - Swap tokens<br /> - Submit the transaction hash as proof of completion
				.cart-transaction
					p First transaction:
					button + 50
			.cart-finance.cart-item
				.cart-title Pipeflare
				.cart-description - Create a PipeFlare account and verify your e-mail<br /> - Kill 50 enemies in Pyro's Mining Rush or Mine 100 Blocks in Pyro's Mining Rush (this is TBD)<br /> - Submit your result
				.cart-transaction
					p First transaction:
					button + 50
			.cart-2048.cart-item
				.cart-title 2048
				.cart-description - Participate in the twenty48 by matching tiles and confirming the result.<br /> - After completing the game, add your result to Leaderboard and submit the transaction hash.
				.cart-transaction
					p First transaction:
					button + 50
			.cart-meson.cart-item
				.cart-title Meson
				.cart-description - - Bridge some of your stablecoins from any chain to Aurora<br /> - Submit the transaction hash as proof of completion
				.cart-transaction
					p First transaction:
					button + 50

		.section-faq#faq
			.section-faq__title In case you <span>missed anything.</span>
			.section-faq__item
				.section-faq__ask What is Aurora?
				.section-faq__answer Aurora is an Ethereum-compatible platform built on the Near Protocol that solves the speed and scalability problems of Ethereum.
			
			.section-faq__item
				.section-faq__ask How to add the Aurora network to the HERE wallet
				.section-faq__answer Open “Settings” -> “Chains connected” -> Tap on “Aurora” -> 
					br 
					| Create a new account or import an existing account using a seed phrase or private key.
			
			.section-faq__item
				.section-faq__ask Which token to use for Aurora network fees
				.section-faq__answer The base token for paying fees on the Aurora network is ETH (within the Aurora network). 
					br 
					| Although fees are paid in ETH, they typically range from $0.02 to $0.05.
			
			.section-faq__item
				.section-faq__ask How to top up ETH on the Aurora network for fee payments
				.section-faq__answer 
					| 1) Exchange NEAR (or any other token) for ETH within HERE wallet.
					br
					| 2) Connect to the 
					a(href="https://rainbowbridge.app/transfer") Rainbow Bridge
					|  on the Aurora and Near networks.
					br
					| 3) Initiate an ETH transfer to the Aurora network.

			.section-faq__item
				.section-faq__ask What is score?
				.section-faq__answer The Score is a unique system where users earn points for completing various tasks within the HERE wallet, and at the end of the week, users receive USDT. 
					a(href="https://www.herewallet.app/blog/here-score-29ce3537e225") Read full information here

			.section-faq__item
				.section-faq__ask How to earn Score
				.section-faq__answer Complete tasks on the website and those available within the HERE wallet, and the points will be credited automatically.
				
			.section-faq__item
				.section-faq__ask What should I do if I complete a task but don't receive any points
				.section-faq__answer You should reach out to our technical support on Telegram at 
					a(href="https://t.me/heresupport") @heresupport 
					| or open a ticket in 
					a(href="https://discord.com/invite/UBSDVmJYTp") our Discord channel

		script(type="module", src="index.js")