.investors__bg
	.investors.wrapper
		.investors-list
			.investors-list__item.investors-list__item_big
				h2 sharks that let Hito go live
				h3 Hito Angel investors
			.investors-list__item.investors-list__item_mid
				h4 Ric Burton
				h5 ex. Ethereum
			.investors-list__item.investors-list__item_mid
				h4 Tim O’Shea
				h5 Mindcom Investments
			.investors-list__item.investors-list__item_mid
				h4 Tiago Sada
				h5
					a(href="https://worldcoin.org", target="_blank") worldcoin.org
			.investors-list__item.investors-list__item_mid
				h4 Sahil Lavignia
				h5
					a(href="https://gumroad.com", target="_blank") gumroad.com
			.investors-list__item.investors-list__item_mid
				h4 Will Haering
				h5
					a(href="https://ponto.org", target="_blank") gumroad.com
			.investors-list__item.investors-list__item_mid
				h4 Uber Alumni<br /> Angels
			.investors-list__item.investors-list__item_big-lite
				.investors-title
					| Herb Stephens 
					span (Advisor)
				a(href="https://democracy.earth", target="_blank").investors-descr democracy.earth