.future-list.wrapper
	.future-list__column.future-list__column_1
		h4 Completely
		h3 Wireless
		img(src="./images/completely-illustration.png", alt="").future-list_desc
		img(src="./images/completely-illustration-mobi.png", alt="").future-list_mobi
	.future-list__column.future-list__column_2
		h4 With Full colour
		h3 Touch screen
		img(src="./images/touch-screen.png", alt="").future-list_desc
		img(src="./images/touch-screen-mobi.png", alt="").future-list_mobi

.future-text.wrapper
	h2
		| You spend less than
		span 3 minutes
		| to set up Hito
	p Installation process is as clear as 1-2-3