.developers
	.developers__img
	.developers-wrapper
		h2 For developers
		.developers-header
			.developers-header__left
				img(src="./images/developers-form.png", alr="")
				a(href="#", target="_blank").btn.btn_gradient.for_mobile Apply for partnership
			.developers-header__right
				h3 Wallet as a service
				p.inter-font Create users a wallet by email/sms that they'll be able to unbind and change the seed phrase.
				a(href="#", target="_blank").btn.btn_gradient.for_desktop Apply for partnership
		.developers-footer
			.developers-footer__left
				img(src="./images/developers-code.png", alr="")
				a(href="#", target="_blank").btn.btn_dark.for_mobile Explore Documentation
			.developers-footer__right
				h3 HOT SDK
				p.inter-font Create services for recovery and onboarding for HOT wallets.
				p.inter-font Make your own 2FA, account marketplace, social recovery and more. Use smart contract interface to customize wallet access.
				a(href="#", target="_blank").btn.btn_dark.for_desktop Explore Documentation