#waitlist-modal.modal-wrap
    .modal-body
        h2 Android waiting list
        p Android version will be released in February. Enter your phone number to get early access
        input.here-input(placeholder="Phone number")
        button.here-button Submit