.footer
	.footer__logo.logo
		img(src="./images/logo-hito.png").logo_1
		.logo_2 x
		.logo_3 HOT
	.footer__social
		a(href="/", target="_blank").social-x
			img(src="./images/icon-x.svg")
		a(href="/", target="_blank").social-tel
			img(src="./images/icon-telegram.svg")
		a(href="/", target="_blank").social-inst
			img(src="./images/icon-inst.svg")
	.footer__copy
		p © 2024. All rights reserved.