.apps
	.apps-wrapper
		.apps-left
			h2 Wallet apps
			p.inter-font HOT accounts can be used with any compatible crypto wallet
			ul.apps-list
				li.apps-list__item.inter-font HERE Wallet
				li.apps-list__item.inter-font HOT Cli
				li.apps-list__item.inter-font
					| Metamask Snap 
					span (soon)
			button.btn.btn_gradient.for_desktop Create wallet
		.apps-right
			picture
				source(media="(min-width: 1001px)", srcset="./images/wallet-apps-img.png 1x, ./images/wallet-apps-img-2x.png 2x")
				source(media="(min-width: 720px)", srcset="./images/wallet-apps-img-744.png 1x, ./images/wallet-apps-img-744-2x.png 2x")
				source(media="(min-width: 260px)", srcset="./images/wallet-apps-img-375.png 1x, ./images/wallet-apps-img-375-2x.png 2x")
				img(src="./images/wallet-apps-img.png", alt="Wallet apps")
			button.btn.btn_gradient.for_mobile Create wallet
