.get-smaller__bg
	.get-smaller.wrapper
		.get-smaller__left
			h2 Get smaller “limited” number on your wallet
			img(src="./images/hold-wallet-hito.png", alt="").get-smaller__left-img
			.get-smaller__string
				img(src="./images/icon-hold-wallet-hito.png", alt="")
				p
					span More 
					| referrals = 
					span smaller 
					| number
			.get-smaller__text
				p Check out your position in the referrals rating: the higher it is, the more chances you have to get «0001» printed on your Hito.
			.get-smaller__btns
				a(href="/").btn.btn_dark Open rating
				a(href="/").link.link_decoration Share referral link
		.get-smaller__right
			img(src="./images/hold-wallet-hito.png", alt="")

	.digital-assets
		h2 600+
		p digital assets
		ul
			li
				img(src="./images/btc.svg", alt="")
			li
				img(src="./images/coin-s.svg", alt="")
			li
				img(src="./images/coin-usdt.svg", alt="")
			li
				img(src="./images/coin-x.svg", alt="")
			li
				img(src="./images/coin-tr.svg", alt="")
			li
				img(src="./images/coin-compas.svg", alt="")
			li
				img(src="./images/coin-dollar.svg", alt="")
			li
				img(src="./images/coin-binance.svg", alt="")
			li
				img(src="./images/coin-fox.svg", alt="")
			li
				img(src="./images/coin-d.svg", alt="")
			li
				img(src="./images/coin-seed.svg", alt="")
			li
				img(src="./images/coin-l.svg", alt="")
			li
				img(src="./images/coin-light.svg", alt="")
			li
				img(src="./images/coin-ball.svg", alt="")