section.how-work
	h2 How it works
		span.dot ?
	p HERE app use Binance API key to move funds between your crypto wallet and exchange account when your need it

	.how-work__cover
		.how-work__mobile-img
			img(src="../assets/Graphics/how-it-work.jpg", alt="How it Work")
		.how-work__left
			.how-work__top
				.how-work__yellow-block Stake now
				.how-work__arrow
				.how-work__binance
					img(src="../assets/binance-logo.svg", alt="Binance")
				.how-work__arrow_big
					span.how-work__arrow-top Stake via Binance
					span.how-work__arrow-bottom.how-work__arrow-bottom_red 2.5% APY
			.how-work__bottom
				.how-work__pink-block Start staking
				.how-work__arrow
					span Transfer coins to crypto wallet
				.how-work__logo
					img(src="../assets/logo-black.svg", alt="Here")
				.how-work__arrow_big
					span.how-work__arrow-top Stake onchain
					span.how-work__arrow-bottom.how-work__arrow-bottom_green 9%+ APY
		.how-work__right
			span.logo-wallet.logo-wallet__1
			span.logo-wallet.logo-wallet__2
			span.logo-wallet.logo-wallet__3
			span.logo-wallet.logo-wallet__4
			span.logo-wallet.logo-wallet__5
			span.logo-wallet.logo-wallet__6
			span.logo-wallet.logo-wallet__7
			span.logo-wallet.logo-wallet__8
			span.logo-wallet.logo-wallet__9
			span.logo-wallet.logo-wallet__10
			span.logo-wallet.logo-wallet__11
			span.logo-wallet.logo-wallet__12