.footer
	picture
		source(media="(min-width: 1001px)", srcset="./images/footer-bg.png 1x, ./images/footer-bg.png 2x")
		source(media="(min-width: 720px)", srcset="./images/footer-bg-744.png 1x, ./images/footer-bg-744.png 2x")
		source(media="(min-width: 260px)", srcset="./images/footer-bg-375.png, ./images/footer-bg-375.png 2x")
		img(src="./images/footer-bg.png", alt="").footer-bg
	.footer-wrapper
		h2 Apply for partnership to explore HOT Protocol in details
		button.btn.btn_gradient Apply
.footer-soc.for_mobile
	.footer-logo
		img(src="./images/logo.svg", alt="")
	.footer-soc__list
		a(href="/", target="_blank").footer-soc__x
		a(href="/", target="_blank").footer-soc__tel
		a(href="/", target="_blank").footer-soc__inst
	.footer-copy
		p HOT Protocol, © 2024