header.header
  .header-center
    img.header-logo(src='/assets/logo.svg' alt='logo')
    .header-links
      a.header-link.active Home
      a.header-link How to use
      a.header-link NFT
      a.header-link Play to learn

    .header-waitlist
      a Android waiting list

    button.header-action

  .header-body 
    .header-mobile-links
      a.header-link.active Home
      a.header-link How to use
      a.header-link NFT
      a.header-link Play to learn

    .header-form 
      input.here-input(placeholder="Phone number")
      button.here-button.light Submit 
      .header-form-hr Or
      a.here-button.here-button-pink.light(href=common.appStore)
        | Download on App Store 