header.header
  .header-center
    img.header-logo(src='/assets/logo.svg' alt='logo')
    .header-links
      a.header-link.active Home
      a.header-link How to use
      a.header-link NFT
      a.header-link Play to learn

    .header-waitlist.waitlist-button
      a Android waiting list

    button.header-action

  .header-body 
    .header-mobile-links
      a.header-link.active Home
      a.header-link How to use
      a.header-link NFT
      a.header-link Play to learn

    .header-form
      p.header-form-title
        | Android waiting list
        span .
      
      input.here-input(placeholder="Phone number")
      button.here-button.light Submit 
      .header-form-hr Or
      a.here-button.pink.light(href=common.appStore)
        | Download on App Store

.float-qr
  img(src=floatqr.qrcode)
  p= floatqr.qrcodeLocale