body {
    padding: 0;
    margin: 0;
    background: #2c3034;
    font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 800;
    font-family: CabinetGrotesk, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

span.dot {
    font-family: CabinetGrotesk;
    color: rgba(253, 132, 227, 1);
    font-weight: 800;
}

section {
    max-width: 1120px;
    margin: 140px auto 0;

    h2 {
        margin-bottom: 56px;
        font-weight: 900;
        font-size: 56px;
        line-height: 69px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2C3034;
    }
}

.here-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;

    width: 180px;
    height: 48px;

    background: #f7b302;

    border: 1px solid #2c3034;
    box-shadow: 4px 4px 0px #2c3034;
    border-radius: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #2c3034;
    text-decoration: none;
}

.here-button-pink {
    background: #fd84e3;
}