.page {
    position: relative;
}

.page-background {
    content: "";
    height: 100%;
    background: #F3EBEA;
    border-radius: 32px;
    display: block;
    position: absolute;
    z-index: -1;
    left: 88px;
    right: 88px;
}

.main {
    background: url("./assets/main.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 890px;
}