.download-banner {
    background: #EBDEDC;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 343px;
}

.download-banner>img {
    width: 327px;
    object-fit: contain;
}

.download-banner-links {
    display: flex;
    gap: 16px;
}

.download-banner-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    justify-content: center;
    height: 100%;
    padding: 24px;
}

.download-banner-text p {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #6B6661;
    margin-top: 0;
    margin-bottom: 50px;
}

.download-banner-text p span {
    color: #2C3034;
}

.download-banner-qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 334px;
}

.download-banner-qr p {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2C3034;
}