.secure-banner {
    background: #2C3034;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 124px;
}

.secure-banner-socials {
    display: flex;
    height: 40px;
    gap: 26px;
    margin: 36px 0 107px;
}

.secure-banner-socials a img {
    width: 40px;
    height: 40px;
}

.secure-banner-picture {
    width: 419px;
    object-fit: contain;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 45px;
}

.secure-banner-content {
    width: 50%;
    padding-left: 40px;
}

.secure-banner-content h3 {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.02em;
    color: #F3EBEA;
}

.secure-banner-content p {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #F3EBEA;
}

.secure-banner-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #F3EBEA;

    display: flex;
    align-items: center;
}

.secure-banner-link img {
    margin-left: 16px;
}