.ask-block {
    background: #EBDEDC;
    border-radius: 16px;
    width: 100%;
}

.ask-block+.ask-block {
    margin-top: 12px;
}

.ask-block-header {
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.ask-block-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #2C3034;
}