doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HERE Wallet - self-custodial wallet for NEAR Protocol

        <meta name="description" content="Discover HERE, a self-custodial crypto wallet for storing, transferring, and staking NEAR and Aurora. Features built-in DEX aggregator on Orderly and Ref Finance, support for NFTs, and liquid NEAR staking." />
        <meta name="keywords" content="NEAR Protocol, crypto wallet, self-custodial wallet, NEAR, Aurora, Stake NEAR, Buy NEAR, NEAR NFTs, DEX aggregator, Orderly, Ref Finance, cryptocurrency, NEAR blockchain, crypto investments" />

        meta(name="og:title", content="HERE Wallet for NEAR and Aurora")
        meta(name="og:description", content="Self-custodial wallet on top of centralized exchanges. You can connect Binance account to make quick transfers, use any dApps and stake onchain.")
        meta(name="og:url", content="https://near.herewallet.app")
        meta(name="og:image", content="https://storage.herewallet.app/download.jpg")

        <meta property="og:locale" content="es_ES" />
        <meta property="og:type" content="website" />   

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:image", content="https://storage.herewallet.app/download.jpg")
        meta(name="telegram_channel", content="herewallet")

        link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
        script(async='' src='https://automatic.chat/embed.js', id="cllk1g0y500hcmc1ggtgfhd5r")
        
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J76SQ67RJB');

        link(href="../assets/cabinet-grotesk/index.css", rel="stylesheet")
        link(href="./index.sass", rel="stylesheet")
    body 
        include header/index.pug
        +header("/")

        include section-main/index.pug

        .page-minus
            .page
                .page-background
                include section-features/index.pug
                include section-binance/index.pug
                include section-security/index.pug
                include section-download/index.pug
                include section-news/index.pug
                include section-asks/index.pug
                include section-partners/index.pug

            include footer/index.pug
            include waitlist-join/index.pug

            script(type="module", src="./index.js")
